<div class="blog">
  <div class="back-arrow">
    <a class="back-arrow__link shadow-text" href="/">&larr;</a>
  </div>
  <div class="blog container card">
    <div class="blog__image shadow-text" style="background-image: url('https://picsum.photos/seed/{{blog.id}}/900/300');">
      <h1 class="blog__title">{{blog.title}}</h1>
      <div class="blog__meta">{{blog.createdBy}}, {{blog.createdOn}}</div>
    </div>
    <div class="blog__content">{{blog.content}}</div>
  </div>
</div>
