<form id="post-form" action="/post/{{ post.id }}/edit" method="post">
  <label for="title">Title</label>
  <input id="blog-editor-title-input" class="input" type="text" name="title" value="{{ post.title }}" />

  <label for="slug">Slug</label>
  <input id="blog-editor-slug-input" class="input" type="text" name="slug" value="{{ post.slug }}" />

  <label for="image_seed">Image Seed</label>
  <input
    id="blog-editor-image-seed-input"
    class="input"
    type="text"
    name="image_seed"
     value="{{ post.image_seed }}"
  />

  <input name="content" type="hidden">
  <input name="description" type="hidden">
  <div name="" id="editor">{{{ post.content }}}</div>

  <a href="/dashboard" class="btn">Cancel</a>
  <button class="btn" type="submit">Save</button>
</form>